.color1 {
    color: red;
}
.color2 {
    color: black;
    background-color: #A9A9A9;
}
.color3 {
    color:  #C0C0C0;
    background-color: #A9A9A0;
}
.color4 {
    color:  green;
    background-color: #7FFF00;
}
.color5 {
    color:  yellow;
    background-color: #F0E68C;
}
.color6 {
    color:  red;
    background-color: #FFA07A;
}